[package]
name = "hud-common"
version = "0.1.0"
edition = "2021"
license = "MIT"

[lints]
workspace = true

[features]
default = []
user = ["aya"]

[dependencies]
aya = { version = "0.13", optional = true }
